img {  height: 500px;
width:500px;
margin:10px;
float: center ;
border-style:round;
border-radius:20px;
  border-color:red;
  margin: 20px;
  
 

} 

body { background-color:grey;
  text-align: center;
} 
