img {  height: 46px;
width:46px;
float: left;
}
 @font-face {
    font-family: bubble;
    src: url(AzzurBubblegum.ttf);

} div {
	font-family: bubble;
   	 margin:20px; }
.space {
	margin:30px;
	font-size:50px;
}


body  {
    background-image: url("minecraft bkgrnd.jpg");
  background-color:#ff6666;
  text-align: center;
} 

h1 {
margin:20px;
  font-family:"Arial Bold";
  


}

h4{    color:#ff0000;
  background-color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color:#ff6666 ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: pink;
}




.heading {  margin:left;
  
  
  }
.list2 {
color:#ff0000;
  

  }
}

p  {    margin: 40px;
     

}
 table {		
     font-family: arial, sans-serif;		
     border-collapse: collapse;		
     width: 100%;		
 }		
 		
 td, th {		
    border: 1px solid #dddddd;		
    text-align: left;		
    padding: 8px;		
 }		
		
 tr:nth-child(even) {		
     background-color: #dddddd;		
}

