img {  height: 300px;
width:300px;
float: center;
border-style:dotted;
border-radius:20px;
  border-color:red;
  ;
  
 

} 

body { background-color:black;
  text-align: center;
} 

h1 {
margin:200px;
  font-family:"Monaco";
  


}

h4{    color:darkred;
  background-color: grey;
  

}
